/* Default styles */
* {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
}

.slice-1 {
  height: 1250px;
  max-width: 100%;
  background-color: #ffffff;
}
.slice-2 {
  height: 1250px;
  max-width: 100%;
  background-color: #E8E8E8;
}

.agents, .agents3 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 10rem;
}

.card-img-top {
  transition: transform 0.3s;
}

.card-img-top:hover {
  cursor: pointer;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  transform: scale(1.1);
}

.SearchPanel {
  height: 200px;
  width: auto;
  background-color: #fff;
}

.searchBox {
  border-radius: 20px;
  border: 2px solid #000;
  padding: 10px;
  width: 80%;
  font-size: 16px;
  outline: none;
  border: none;
  height: 20px;
}

.searchBox::placeholder {
  color: #999;
}

.searchbar-main:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.test-search {
  border: 2px solid black;
}

.icn {
  padding-right: 15px;
}

.responsive-img, .responsive-img1, .img-lol, .img-lol1 {
  max-width: 100%;
  height: auto;
  display: block;
  margin: auto;
  border-radius: 20px; /* Adjust as needed */
  border: 0px solid black;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  transition: transform 0.3s;
}

.responsive-img:hover, .responsive-img1:hover, .img-lol:hover, .img-lol1:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  transform: scale(1.1);
}

.button-card {
  background-color: #D8232A;
  color: #D8232A;
}

.font-for-head {
  font-family: cursive;
}

.Main-cicle {
  height: 180px;
  background-color: #ffffff;
  border-radius: 1000px;
  width: 60%;
  border: 2px solid #e8e8e8;
  margin: 0 auto;
  padding-top: 15px;
}

.hover-effect {
  color: #444444;
  transition: transform 0.3s ease-in-out;
  font-weight: 300;
}

.hover-effect:hover {
  transform: scale(1.1);
}

/* Media queries for responsiveness */
@media screen and (max-width: 768px) {
  /* Adjust styles for smaller screens */
  .agents, .agents3 {
    padding-left: 2rem; /* Adjust as needed */
  }
  
  .searchBox {
    width: 100%;
  }

  .Main-cicle {
    width: 80%;
  }
}

@media screen and (max-width: 576px) {
  /* Adjust styles for even smaller screens */
  .agents, .agents3 {
    flex-direction: column;
    align-items: flex-start;
    padding-left: 1rem; /* Adjust as needed */
  }
}
